# This file contains environment variables for the histogram processing scripts.
# You can set the INPUT_FOLDER variable to point to the directory where your input histograms are located.
# I called it histograms.env in the GetHistograms.py script
export INPUT_HISTOGRAMS='/path/to/inputhistograms/'
export INPUT_TREES='path/to/inputtrees/'